.scrollingWrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-right: var(--right-page-margin);
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: auto;
    padding-left: var(--left-page-margin);
}

.card {
    display: inline;
}

.headerRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.skillLevelsContainer {
    border-radius: 24px;
    padding: 32px;
    display: flex;
    width: auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: flex-end;
    margin-right: var(--right-page-margin);
    background: var(--translucent-main-color);
    min-height: 400px;
    margin-left: var(--left-page-margin);
}

.skillRow {
    display: flex;
    justify-content: flex-start;
}