---
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="impresum">
  <NavBar />
  <main class="ml-20 mt-11">
    <h1 class="text-4xl font-mono">Impressum</h1>

    <h2 class="text-2xl font-mono mt-8" >Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p class="ml-2">
      Bendt Schulz<br />
      Alsterdorfer Str. 127<br />
      22299 Hamburg
    </p>

    <h2 class="text-2xl font-mono mt-8">Kontakt</h2>
    <p class="ml-2">
      Telefon: +49 160 2713 452<br />
      E-Mail: bendt@schulz-hamburg.de
    </p>

    <h2 class="text-2xl font-mono mt-8">Redaktionell verantwortlich</h2>
    <p class="ml-2">Bendt Schulz</p>
  </main>
</Layout>
