---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/navbar/NavBar";
import PersonalInfoCard from "../components/PersonalInfoCard.astro";
import SkillArea from "../components/skillsarea/SkillArea";
import StationsArea from "../components/StationsArea.astro";
import IntroArea from "../components/IntroArea.astro";
---

<Layout title="bschulz.dev">
	<main>
		<NavBar />
		<section class="introsection">
			<IntroArea />
			<div class="card">
				<div class="subcard">
					<PersonalInfoCard />
				</div>
			</div>
		</section>
		<section class="stationenSection">
			<h2>Stationen</h2>
			<StationsArea />
		</section>
		<section class="skillSection">
			<h2 class="leftPageMargin">Skills</h2>
			<SkillArea client:load />
		</section>
	</main>
</Layout>

<style>
	.leftPageMargin {
		margin-left: var(--left-page-margin);
	}
</style>
