---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/navbar/NavBar";
import PersonalInfoCard from "../components/personalinfocard/PersonalInfoCard";
import SkillArea from "../components/skillsarea/SkillArea";
import StationsArea from "../components/stationsarea/StationsArea";
import IntroArea from "../components/introarea/IntroArea";
---

<Layout title="bschulz.dev">
	<main>
		<NavBar />
		<section class="introsection">
			<IntroArea />
			<div class="card">
				<div class="subcard">
					<PersonalInfoCard />
				</div>
			</div>
		</section>
		<section class="stationenSection">
			<h2>Stationen</h2>
			<StationsArea />
		</section>
		<section class="skillSection">
			<h2>Skills</h2>
			<div class="skillcontainer">
				<SkillArea client:load />
			</div>
		</section>
	</main>
</Layout>
