---
import Layout from "../layouts/Layout.astro";
import PersonalInfoCard from "../components/PersonalInfoCard.astro";
import SkillArea from "../components/SkillArea";
import StationsArea from "../components/StationsArea.astro";
import IntroArea from "../components/IntroArea.astro";
import NavBar from "../components/NavBar.astro";
---

<Layout title="bschulz.dev">
  <main>
    <section id="aboutme" class="mt-40 flex-wrap flex flex-row justify-between mr-0">
      <IntroArea />
      <div class="flex items-end content-end justify-end mt-10 ml-12 mr-12">
        <div class="flex items-end justify-end">
          <PersonalInfoCard />
        </div>
      </div>
    </section>
    <section id="stations" class="flex flex-col max-w-[780px] mt-36 ml-16">
      <h2 class="text-3xl font-mono mb-4">Stationen</h2>
      <StationsArea />
    </section>
    <section id="skills" class="mt-32 ml-16">
      <h2 class="text-3xl font-mono mb-4">Skills</h2>
        <SkillArea  client:load />
    </section>
  </main>
</Layout>