---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import BlogEntryCard from "../components/BlogEntryCard.astro";
---

<Layout title="bschulz.dev">
  <main>
    <NavBar />
    <h1 class="text-3xl ml-14 mt-16">Blogbeiträge</h1>
    <section id="blog_articles" class="ml-10 mt-6">
      {
        ["Git Worktrees", 2, 3, 4, 5].map((_) => (
          <>
            <BlogEntryCard blogTitle="Git Worktrees" />
          </>
        ))
      }
    </section>
  </main>
</Layout>
