:root {
    --main-color: #0E1D33;
    --translucent-main-color: rgba(0, 0, 0, 0.49);
    --secondary-color: #BC4807;
    --font-color: #FFFFFF;
    --left-page-margin: 60px;
    color: var(--font-color);
    background-color: var(--main-color);
    margin: 0px;
}

body {
    width: 100%;
    margin: 0px;
}

h1 {
    font-family: 'FragmentMono', monospace;
    font-size: 48px;
    font-weight: 400;
}

h2 {
    font-family: 'FragmentMono', monospace;
    font-size: 36px;
    font-weight: 400;
}

p {
    font-family: 'FragmentMono', monospace;
}

@font-face {
    font-family: 'FragmentMono';
    src: local('FragmentMono'), url(../fonts/FragmentMono-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'FragmentMono-Italic';
    src: local('FragmentMono-Italic'), url(../fonts/FragmentMono-Italic.ttf) format('truetype');
}

.introsection {
    margin-top: 160px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-right: 0px;
}
