---
import Layout from "../layouts/Layout.astro";
import PersonalInfoCard from "../components/PersonalInfoCard.astro";
import SkillArea from "../components/SkillArea";
import StationsArea from "../components/StationsArea.astro";
import IntroArea from "../components/IntroArea.astro";
import NavBar from "../components/NavBar.astro";
---

<Layout title="bschulz.dev">
  <main>
    <section
      id="aboutme"
      class="mr-0 mt-40 flex flex-row flex-wrap justify-between"
    >
      <IntroArea />
      <div
        class="ml-8 mr-12 mt-10 flex content-end items-end justify-end md:ml-12"
      >
        <div class="flex items-end justify-end">
          <PersonalInfoCard />
        </div>
      </div>
    </section>
    <section
      id="stations"
      class="ml-8 mt-36 flex max-w-[780px] flex-col md:ml-12"
    >
      <h2 class="mb-4 font-mono text-3xl">Stationen</h2>
      <StationsArea />
    </section>
    <section id="skills" class="ml-8 mt-32 md:ml-12">
      <h2 class="mb-4 font-mono text-3xl">Skills</h2>
      <SkillArea client:load />
    </section>
  </main>
</Layout>
