.navbar {
    width: 100%;
    margin-top: 16px;
}

ul {
    list-style-type: none;
    padding-top: 32px;
    margin: 0;
    margin-left: 20px;
}

li {
    font-family: 'FragmentMono', monospace;
    font-size: 20px;
    display: inline;
    margin-right: 32px;
}

.flag {
    display: inline;
    float: inline-end;
    margin-right: 40px;
}


@media only screen and (max-width: 720px) {

    .disableWhenSmall {
        display: none;
    }
}