.navbar {
    margin-top: 16px;
    padding-left: var(--left-page-margin);
}

ul {
    list-style-type: none;
    padding-top: 32px;
    margin-left: 0;
    padding-left: 0;
    margin: 0;
}

li {
    font-family: 'FragmentMono', monospace;
    font-size: 20px;
    display: inline;
    margin-right: 32px;
}

.flag {
    display: inline;
    float: inline-end;
    margin-right: 32px;
}

.enableWhenSmall {
    display: none;
}


@media only screen and (max-width: 720px) {

    .disableWhenSmall {
        display: none;
    }

    .enableWhenSmall {
        display: block;
    }
}