---
import { Image } from "astro:assets";
import hat from "../images/hat.svg";
import wrench from "../images/wrench.svg";

interface Props {
  type: "education" | "job";
  text: string;
}

const { type, text } = Astro.props;
---

<div
  class="mb-4 inline-flex items-center justify-center rounded-xl bg-white pr-3"
>
  <Image
    class="mb-1 ml-2 mt-1 h-[36px] w-[36px]"
    src={type === "education" ? hat : wrench}
    alt="Icon"
  />
  <div class="ml-3 mr-3 inline font-mono text-black">{text}</div>
</div>
