<div class="introSection" id="introsection">
    <h1>Bendt Schulz</h1>
    <h2>Software Developer</h2>
    <div class="linkBlock">
        <p class="label">LinkedIn</p>
        <p class="link">linkedin.com/in/bendt-schulz</p>
    </div>
    <div class="linkBlock">
        <p class="label">GitHub</p>
        <p class="link">github.com/beschlz</p>
    </div>
    <div class="linkBlock">
        <p class="label">Mail</p>
        <p class="link">bendt@schulz-hamburg.de</p>
    </div>
    <div class="linkBlock">
        <p class="label">Location</p>
        <p class="link">Hamburg</p>
    </div>
</div>

<style>
    .introSection {
        margin-left: var(--left-page-margin);
        display: inline-block;
        align-self: flex-start;
    }

    h1 {
        margin: 0;
        font-size: var(--name-font-size);
    }

    h2 {
        margin: 0;
        margin-bottom: 32px;
        font-size: var(--header-font-size);
    }

    p {
        display: inline-block;
        margin: 0px;
        margin-bottom: 8px;
    }

    .label {
        width: 80px;
    }

    .link {
        padding-left: 36px;
    }

    @media only screen and (max-width: 800px) {
        .link {
            padding-left: 4px;
        }

        .linkBlock {
            display: block;
        }
    }
</style>
