<div class="inline-block self-start ml-16" id="introsection">
  <h1 class="text-4xl font-mono mb-3">Bendt Schulz</h1>
  <h2 class="text-3xl font-mono mb-6">Software Developer</h2>
  <div>
    <p class="w-20 inline-block m-0 mb-2">LinkedIn</p>
    <a
      class="pl-9 font-mono inline"
      target="_blank"
      href="https://linkedin.com/in/bendt-schulz"
      >linkedin.com/in/bendt-schulz</a
    >
  </div>
  <div>
    <p class="w-20 inline-block m-0 mb-2">GitHub</p>
    <a
      class="pl-9 font-mono inline"
      target="_blank"
      href="https://github.com/beschlz">github.com/beschlz</a
    >
  </div>
  <div>
    <p class="w-20 inline-block m-0 mb-2">Mail</p>
    <p class="pl-9 inline">bendt@schulz-hamburg.de</p>
  </div>
  <div>
    <p class="w-20 inline-block m-0 mb-2">Location</p>
    <p class="pl-9 inline">Hamburg</p>
  </div>
  <div class="mt-4">
    <h2 class="font-mono font-bold text-xl">Zertifikate</h2>
    <ul class="mt-2">
      <li class="font-mono">Kanban Management Professional</li>
      <li class="font-mono">Kanban System Design</li>
      <li class="font-mono">Kanban Systems Improvement</li>
      <li class="font-mono">AWS Certified Developer – Associate</li>
      <ul></ul>
    </ul>
  </div>
</div>
