<div class="ml-16 inline-block self-start" id="introsection">
  <h1 class="mb-3 font-mono text-4xl">Bendt Schulz</h1>
  <h2 class="mb-6 font-mono text-3xl">Software Developer</h2>
  <div>
    <p class="m-0 mb-2 inline-block w-20">LinkedIn</p>
    <a
      class="inline pl-9 font-mono"
      target="_blank"
      href="https://linkedin.com/in/bendt-schulz"
      >linkedin.com/in/bendt-schulz</a
    >
  </div>
  <div>
    <p class="m-0 mb-2 inline-block w-20">GitHub</p>
    <a
      class="inline pl-9 font-mono"
      target="_blank"
      href="https://github.com/beschlz">github.com/beschlz</a
    >
  </div>
  <div>
    <p class="m-0 mb-2 inline-block w-20">Mail</p>
    <p class="inline pl-9">bendt@schulz-hamburg.de</p>
  </div>
  <div>
    <p class="m-0 mb-2 inline-block w-20">Location</p>
    <p class="inline pl-9">Hamburg</p>
  </div>
  <div class="mt-4">
    <h2 class="font-mono text-xl font-bold">Zertifikate</h2>
    <ul class="mt-2">
      <li class="font-mono">Kanban Management Professional</li>
      <li class="font-mono">Kanban System Design</li>
      <li class="font-mono">Kanban Systems Improvement</li>
      <li class="font-mono">AWS Certified Developer – Associate</li>
      <ul></ul>
    </ul>
  </div>
</div>
