<nav class="mt-10 ml-8 sm:ml-14">
  <ul class="list-none">
    <li class="text-xl inline mr-8 font-mono">
      <a href="/#aboutme">Über mich</a>
    </li>
    <li class="text-xl inline mr-8 font-mono">
      <a href="/#stations">Stationen</a>
    </li>
    <li class="text-xl inline mr-8 font-mono">
      <a href="/#skills">Skills</a>
    </li>
  </ul>
</nav>
