---
import { Image } from "astro:assets";
import ProfilPic from "../images/Bild.jpg";
---

<div
  class="max-w-[780px] self-end rounded-[40px] bg-translucentMain pb-8 pl-0 pt-6 shadow-my md:inline-block"
>
  <div class="grid h-full w-full grid-cols-1 md:grid-cols-[35%_65%]">
    <div class="flex h-full items-center justify-center">
      <Image
        class="img ml-4 box-border h-[] max-h-full w-[180px] max-w-full rounded-full object-cover"
        loading="lazy"
        alt="Profil_Bild"
        src={ProfilPic}
      />
    </div>
    <div class="ml-8 mt-3 flex flex-col items-start pr-[80px]">
      <p class="mb-8 text-xl">Hey!</p>
      <p class="break-normal text-base">
        Ich bin Bendt, Softwareentwickler, studierter Wirtschaftsinformatiker
        und hobbymäßig Fotograf. Als Fullstackentwickler bin ich in vielfältigen
        Softwareprojekten unterwegs.
      </p>
    </div>
  </div>
</div>
