---
import EventCard from "./EventCard.astro";

const { year, points, events } = Astro.props;
type Event = {
  type: "education" | "job";
  text: string;
};
---

<div class="mb-4 grid grid-cols-8">
  <div class="ml-1 flex flex-col items-start">
    <span
      class="mb-4 inline-block h-[36px] min-h-[36px] w-[36px] min-w-[36px] rounded-full bg-secondaryColor shadow-md"
    ></span>
    <div
      class="ml-[17px] h-[80%] rounded-full border border-solid border-translucentWhite"
    >
    </div>
  </div>
  <div class="col-span-6 mt-[5px] flex flex-col items-start">
    <p class="mb-4 font-bold">{year}</p>
    {points?.map((point: string) => <p class="mb-4">{point}</p>)}
    {events?.map((e: Event) => <EventCard type={e.type} text={e.text} />)}
  </div>
</div>
