.card {
    background: #FFFFFF;
    border-radius: 12px;
    display: inline-flex;
    padding-right: 12px; 
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.icon {
    margin-left: 8px;
    height: 36px;
    width: 36px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.text {
    display: inline;
    margin-left: 12px;
    margin-right: 12px;
    font-family: "FragmentMono", monospace;
    color: black;
}

@media only screen and (max-width: 800px) {
    .text {
        font-size: 10px;
    }

    .icon {
        height: 24px;
        width: 24px;
    }
}