
.introSection {
    margin-left: var(--left-page-margin);
    display: inline-block;
    align-self: flex-start;
}

h1 {
    margin: 0;
    font-size: var(--name-font-size);
}

h2 {
    margin: 0;
    margin-bottom: 32px;
    font-size: var(--header-font-size);
}

p {
    display: inline-block;
    margin: 0px;
    margin-bottom: 8px;
}

.label {
    width: 80px;
}

.link {
    padding-left: 36px;
}

@media only screen and (max-width: 800px) {
    .link {
        padding-left: 4px;
    }
}

.linkBlock {
    display: block;
}