---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
  <footer class="mt-20 float-right mr-4 w-full">
    <div class="pl-16 pr-5 flex justify-center">
      <hr class="w-full h-1 opacity-80" />
    </div>
    <div class="flex justify-end mt-5 mr-5 mb-8">
      <a class="font-mono" href="/impressum">Impressum</a>
    </div>
  </footer>
</html>
<style is:global>
  :root {
    --main-color: #0e1d33;
    --translucent-main-color: rgba(0, 0, 0, 0.49);
    --secondary-color: #b03800;
    --font-color: #ffffff;
    --left-page-margin: 60px;
    --name-font-size: 40px;
    --header-font-size: 32px;
    --right-page-margin: 60px;
    color: var(--font-color);
    background-color: var(--main-color);
    margin: 0px;
    scroll-behavior: smooth;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--translucent-main-color) var(--main-color);
    -webkit-overflow-scrolling: touch;
  }

  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: var(--main-color);
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--translucent-main-color);
    border-radius: 14px;
  }

  @media only screen and (max-width: 800px) {
    :root {
      --left-page-margin: 32px;
      --name-font-size: 32px;
      --header-font-size: 28px;
      --right-page-margin: 32px;
    }
  }

  body {
    width: 100%;
    margin: 0px;
    padding-bottom: 128px;
  }

  h1 {
    font-family: "FragmentMono", monospace;
    font-size: 40px;
    font-weight: 400;
  }

  h2 {
    font-family: "FragmentMono", monospace;
    font-size: 32px;
    font-weight: 400;
  }

  p {
    font-family: "FragmentMono", monospace;
  }

  @font-face {
    font-family: "FragmentMono";
    src: local("FragmentMono"),
      url(../fonts/FragmentMono-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: "FragmentMono-Italic";
    src: local("FragmentMono-Italic"),
      url(../fonts/FragmentMono-Italic.ttf) format("truetype");
  }
</style>
